/* Frontend Mentor part*/
.attribution { font-size: 0.6875rem;
    position: relative;
    bottom: 0;
    margin-top: 3.5rem;
    padding-bottom: 0.625rem;
    text-align: center;
    color: rgb(3, 146, 248);
    width: 100%;
}

.attribution a { color: hsl(228, 45%, 44%); }
/*-------------------------------------------------*/