@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url(reset.css);
@import url(FM_part.css);

:root {
  /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

  /* Neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
  
  /* fonts */
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Fraunces', serif;
    --fw-500: 500;
    --fw-700: 700;
    /* font-size: 14px; */
}

/* typography */
html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
    height: 100%;
}

body {
    /* It returns default value of browser (16px) */
    font-size: 1.6em;
    min-height: 100%;
}

p {
    line-height: 1.5;
}

/* typography end */

body { 
    display: flex;
    justify-content: center;
    align-items: center;
}
